# =========================
# NetBeans
# =========================
nbproject/
build/
dist/

# Archivos de configuración de build
build.xml
manifest.mf

# =========================
# Java compilado
# =========================
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# VSCode (opcional)
# =========================
.vscode/